<!DOCTYPE html>
<html>
    <head>
        <title>CMX Flight Status</title>\
        <link rel="stylesheet" href=""/static/css/style.css">
    </head>
    <body>
        <h1>CMX Airport Live Status</h1>

        <h2>Flights</h2>
        <pre id="flights">loading flights...</pre>

        <h2>Weather</h2>
        <div id="weather">loading weather...</div>

        <h2>Airport Webcam</h2>
        <img id=""webcam" src="https://www.michigan.gov/mdot/-/media/Project-Webcams/CMX_cam.jpg" width="640">

        <script src="/static/js/main.js"></script>
        


    </body>
</html>